<div class="wrapper">
  <!-- Top bar -->
  <div class="top_navbar">
    <!-- logo -->
    <div class="logo">
      <a href="https://www.streamssolutions.com"
        ><img
          src="/static/assets/images/streamlogo1.png"
          alt="company logo"
          height="35px"
          width="80px"
      /></a>
    </div>

    <!-- menu button -->
    <div class="menu">
      <div class="hamburger">
        <i class="fa fa-bars"></i>
      </div>
    </div>

    <div class="logout">
      <a href="#">
        <i class="fa fa-power-off"></i>
      </a>
    </div>
  </div>

  <!-- Sidebar -->

  <div class="sidebar">
    <div class="sidebar_inner">
      <ul>
        <li>
          <a href="#">
            <span class="icon"><i class="fa fa-qrcode"></i></span>
            <span class="text">Dashboard</span>
          </a>
        </li>

        <li>
          <a href="#">
            <span class="icon"><i class="fa fa-users"></i></span>
            <span class="text">Vendors</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
